.Hero {
  padding: 120px 0 200px;
  overflow-x: hidden;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 120px;
  position: relative;
}

.border {
  width: 100px;
  height: 100px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dashed #b5b5b5;
  z-index: 0;
}
.pointer {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(90%, 90%);
}
.heading {
  font-size: 100px;
  line-height: 0.95;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.highlight {
  background: radial-gradient(141.42% 141.42% at 0% 0%, #7000ff 0%, #0ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linkWrap {
  position: relative;
  z-index: 1;
}
.subheading {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1.2px;
}
.subButton {
  padding: 2px;
  display: inline-block;
  background: transparent;
  border-radius: 8px;
}
/* .subButton:hover span {
  background: transparent;
  color: white;
} */
.subWrap {
  display: flex;
  gap: 16px;
}

.subButton span {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: 1;
  padding: 10px 20px;
  background: white;
  display: inline-block;
  border-radius: 6px;
  transition: 0.3s;
}
.subtext {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.64px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
.scrollWrap {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.mouseWrap {
  width: 42px;
  height: 68px;
  border-radius: 25px;
  border: 1px solid #b5b5b5;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.scrollWheel {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.gradient {
  animation: scroll 2s ease-in-out infinite;
  width: 8px;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 255, 1) 40%,
    rgba(112, 0, 255, 1) 50%,
    rgba(0, 255, 255, 1) 60%
  );

  position: absolute;
  bottom: 0;
  left: 0;
}
.hand {
  display: none;
}
@keyframes scroll {
  from {
    bottom: 0;
  }
  to {
    bottom: -60px;
  }
}

@media (max-width: 1250px) {
  .heading {
    font-size: 80px;
  }
}
@media (max-width: 900px) {
  .heading {
    font-size: 48px;
  }
  .wrap {
    padding: 36px 14px;
  }
  .subWrap {
    flex-direction: column;
    align-items: center;
  }

  .subButton span,
  .subheading {
    font-size: 36px;
  }
  .subButton span {
    text-align: center;
    width: 100%;
  }
  .subtext {
    font-size: 24px;
    line-height: 1.2;
  }
  .pointer {
    max-width: 36px;
  }
  .Hero {
    padding: 110px 0 80px;
  }
  .mouseWrap {
    border-color: transparent;
  }
  .scrollWheel {
    height: 36px;
  }
  .scrollWheel:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(112, 0, 255, 0) 15%,
      rgba(6, 242, 255, 0) 85%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .gradient {
    height: 100px;
  }
  .hand {
    display: block;
    position: absolute;
    left: 17px;
    top: -8px;
    animation: handSlide 1s 0.3s alternate infinite ease-in-out;
  }
}

@keyframes handSlide {
  0% {
    top: -8px;
  }
  20% {
    top: -8px;
  }
  to {
    top: 20px;
  }
}
