.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.inputWrap {
  width: 100%;
  position: relative;
  border-bottom: solid 1px black;
  padding: 0 0 20px 0;
}
.inputWrap label {
  font-size: 43px;
  font-weight: 400;
  margin-bottom: 25px;
  display: block;
  line-height: 0.8;
}
.inputWrap input:not([type="checkbox"]) {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 22px;
  font-weight: 400;
}
.inputWrap input::placeholder {
  color: #b5b5b5;
  opacity: 1; /* Firefox */
}

.inputWrap input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #b5b5b5;
}

.countryInputWrap {
  display: flex;
  flex-direction: column;
}

.countryInputWrap img {
  transition: 0.5s;
}
.countryInput {
  display: block;
  width: 100%;
}
.countryFieldWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectWrap {
  position: absolute;
  top: 105px;
  left: 0;
  background: #f8f8f8;
  max-height: 400px;
  width: 100%;
  overflow: scroll;
}
.selectList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.selectList div {
  font-size: 18px;
  transition: 0.3s;
  padding: 10px 10px;
}
.selectList div:hover {
  background: white;
}

.submitBtn {
  border: 0;
  background: none;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 700;
}

.fieldHeading {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.44px;
  margin-top: 20px;
  line-height: 1;
}
.serviceWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.singleService input {
  display: none;
}
.singleService label {
  padding: 10px;
  border: 1px solid black;
  font-size: 24px;
  font-weight: 100;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.singleService input:checked + label {
  background: black;
  color: white;
}

.budgetWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.singleBudget {
  width: calc(33% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.singleBudget input {
  display: none;
}
.singleBudget label {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.singleBudget input:checked + label {
  background: black;
  color: white;
}

.message {
  display: block;
  width: 100%;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Matter-Regular";
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  color: #858585;
}

.response {
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: -102px;
}
.success {
  background: #55ff55;
}
.error {
  background: #ff5555;
  color: white;
}
@media (max-width: 900px) {
  .inputWrap label {
    font-size: 22px;
  }
  .inputWrap input:not([type="checkbox"]) {
    font-size: 18px;
  }
  .inputWrap {
    padding: 0 0 10px 0;
  }
  .fieldHeading {
    font-size: 28px;
    letter-spacing: 0;
    max-width: 215px;
    margin-top: 0;
  }
  .singleService {
    width: calc(50% - 7.5px);
    flex-grow: 1;
  }

  .singleService label {
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
  }
  .budgetWrap {
    flex-wrap: wrap;
    gap: 15px;
  }
  .singleBudget {
    width: calc(50% - 7.5px);
    flex-grow: 1;
  }
  .singleBudget label {
    font-size: 18px;
    padding: 15px 0;
  }
  .message {
    font-size: 18px;
    letter-spacing: -0.36px;
    height: 130px;
  }
}
