.Print {
  background: #fff;
  padding: 120px 0 0 0;
}
.paragraphs {
  max-width: 560px;
}
.description {
  color: #202020;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 360px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .sticker {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}
@media (max-width: 900px) {
  .Print {
    padding-top: 80px;
    overflow: hidden;
  }
  .wrapper {
    flex-direction: column;
  }
}
