.Accordion {
  width: 100%;
  padding: 20px 0;
  max-height: 90px;
  overflow: hidden;
  transition: all 0.7s;
  border-top: 1px solid #b5b5b5;
  cursor: pointer;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#opened {
  -webkit-text-fill-color: transparent;
}
.title {
  font-size: 48px;
  font-weight: 700;
  color: black;
  background: radial-gradient(circle at 0 0, #7000ff, #0ff);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}
.content {
  font-size: 28px;
  max-width: 960px;
  margin-bottom: 10px;
}
.Accordion:last-of-type {
  border-bottom: 1px solid #b5b5b5;
}
@media (max-width: 900px) {
  .title {
    font-size: 26px;
  }
  .content {
    font-size: 20px;
  }
}
