.main {
  height: 250px;
  width: 250px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  transition: 0.8s;
}

.button {
  align-self: flex-end;
  border: none;
}

.buttonBox {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.main:hover .buttonBox {
  display: none;
}

.title {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
  transition: all 0.8s;
  word-break: break-all;
  z-index: 1;
  position: relative;
  background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 95%);
  display: inline;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.list {
  opacity: 0;
  pointer-events: none;
  font-size: 22px;
  position: relative;
  z-index: 1;
  transition: all 0.4s;
}

.main:hover .list {
  opacity: 1;
  pointer-events: auto;
}

.gradient {
  width: 0;
  height: 0;
  border-radius: 0;
  transition: all 0.8s;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at 0 0, #7000ff, #0ff);
}

.main:hover .gradient,
.main:hover {
  width: 428px;
  height: 428px;
  padding: 40px;
  z-index: 3;
}

.textbox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main:hover .textbox,
.main:hover .title {
  color: #ffffff;
  z-index: 3;
}

.main ul {
  list-style: none;
}

.main li {
  margin-bottom: 13px;
}

.projectsArrowWrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s all;
}

.main:hover .projectsArrowWrapper {
  opacity: 1;
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
}

.viewProjects {
  font-size: 16px;
  font-weight: bold;
  align-self: center;
}

@media (max-width: 900px) {
}
