.Outro {
  width: 100%;
  background: #d9d9d9;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.wrapper {
  display: flex;
  padding: 80px 0;
  max-width: 1360px;
}
.video {
  width: 520px;
  margin-right: 80px;
}
.next {
  margin-bottom: 40px;
  font-size: 16px;
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.name {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}
.slogan {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 300;
  color: var(--black);
  max-width: 760px;

  white-space: pre-wrap;
}
.arrowLink {
  display: inline-block;
}
.arrow {
  margin-top: 80px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
@media (max-width: 1410px) {
  .video {
    width: 400px;
  }
  .wrapper {
    width: 100%;
    max-width: none;
    padding: 80px 20px;
  }
}
@media (max-width: 1100px) {
  .video {
    width: 300px;
  }
  .arrow {
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 500px;
    flex-direction: column-reverse;
  }
  .name {
    font-size: 32px;
  }
  .slogan {
    font-size: 32px;
  }
  .video {
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    max-width: none;
    width: 100%;
  }
}
