.title {
  font-size: 100px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 700;
  width: 1380px;
}
.subheading {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 80px;
  max-width: 560px;
}
.projectsWrap {
  padding: 160px 0 120px 0;
}
.wrapper {
  max-width: 1360px;
  position: static;
  margin: 0 auto;
  padding: 0 20px;
}
.projectGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lastitem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 60px;
}
.lastitem .projectName {
  color: var(--black);
  margin-bottom: 0;
  font-weight: 700;
  font-size: 48px;
}
.lastitem .subheading {
  margin-top: 20px;
}
@media (max-width: 1460px) {
  .title {
    max-width: 750px;
  }
}
@media (max-width: 900px) {
  .title {
    max-width: 100%;
    font-size: 54px;
  }
  .projectGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .subheading {
    font-size: 20px;
    max-width: 400px;
  }
  .projectsWrap {
    padding: 120px 0 420px 0;
  }
  .lastitem {
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
  }
  .lastitem .projectName {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .lastitem .subheading {
    margin-bottom: 40px;
    font-size: 22px;
  }
}
