.projectCard {
  height: 640px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 40px 60px;
}
.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image {
  object-fit: cover;
  transition: 0.7s;
}
.heroImage:hover .image {
  transform: scale(1.1);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#00000000 70%, #00000099 100%);
}
.iconWrap {
  position: relative;
}
.projectName {
  position: relative;
  z-index: 3;
  color: white;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
}
.link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastitem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 60px;
}
.lastitem .projectName {
  color: var(--black);
}
.lastitem .subheading {
  margin-top: 20px;
}
@media (max-width: 640px) {
  .projectCard {
    height: calc(100vw - 40px);
    padding: 20px;
  }
  .projectName {
    font-size: 38px;
  }
}
