.Components {
  background: white;
  padding: 60px 0 0 0;
}
.contentWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons {
  width: 230px;
}
.button {
  margin-bottom: 40px;
}
.menuIcons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.menuImage {
  display: inline-block;
  margin-right: 40px;
}
.description {
  margin-bottom: 40px;
  max-width: 480px;
}
@media (max-width: 1160px) {
  .contentWrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .paragraphs {
    width: 100%;
    justify-content: center;
  }
  .description {
    margin: 0 auto 40px auto;
  }
  .buttons {
    width: 50%;
    align-items: center;
  }
  .button {
    text-align: center;
  }
  .button2 {
    margin: 0 auto;
    width: 100%;
  }
  .menuIcons {
    justify-content: center;
  }
  .colors {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .contentWrap {
    flex-direction: column;
  }
  .buttons {
    width: 100%;
    margin-top: 40px;
  }
  .colors {
    width: 100%;
    margin-top: 40px;
  }
}
