.Achievements {
  padding-bottom: 120px;
}

.videoWrap {
  margin-bottom: 120px;
  width: 480px;
  height: 480px;
  position: absolute;
  right: 0;
  z-index: 0;
}
.video {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: 0.3s;
}
.tagline2 {
  font-size: 120px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -4.8px;
  padding: 120px 0;
  z-index: 1;
  position: relative;
}
@media (max-width: 900px) {
  .Achievements {
    background: #f8f8f8;
    padding-top: 0;
  }
  .tagline {
    font-size: 30px;
    margin-bottom: 40px;
    letter-spacing: normal;
  }
  .videoWrap {
    width: 270px;
    height: 270px;
    transform: translateX(-50%);
    left: 50%;
    top: 30%;
  }
  .image {
    height: 480px;
    margin-left: -20px;
    width: calc(100% + 40px);
    margin-bottom: 80px;
    margin-top: 80px;
  }
  .tagline2 {
    font-size: 60px;
    letter-spacing: normal;
    padding-bottom: 240px;
  }
}
