.Achievements {
  padding: 120px 0 400px 0;
}

.tagline {
  font-size: 80px;
  font-family: MatterBold;
  line-height: 1.05;
  letter-spacing: -3.2px;
  background: radial-gradient(circle at 0 0, #7000ff, #0ff);
  background-attachment: fixed;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
}
.tagline .gradientText {
  -webkit-text-fill-color: transparent;
}
.image {
  margin-bottom: 120px;
  width: 100%;
  height: 480px;
  position: relative;
}
.tagline2 {
  font-size: 120px;
  line-height: 1;
  font-family: MatterBold, sans-serif;
  letter-spacing: -4.8px;
}
@media (max-width: 900px) {
  .Achievements {
    background: #f8f8f8;
    padding-top: 0;
  }
  .tagline {
    font-size: 30px;
    margin-bottom: 40px;
    letter-spacing: normal;
  }
  .image {
    height: 480px;
    margin-left: -20px;
    width: calc(100% + 40px);
    margin-bottom: 80px;
    margin-top: 80px;
  }
  .tagline2 {
    font-size: 60px;
    letter-spacing: normal;
  }
}
