.Taglines {
  padding-top: 160px;
}
.tagline {
  position: sticky;
  top: 50%;
  font-size: 120px;
  transform: translateY(-50%);
  font-family: MatterBold;
  line-height: 1.05;
  letter-spacing: -3.2px;
  background: radial-gradient(circle at 0 0, #7000ff, #0ff);
  background-attachment: fixed;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  width: 1350px;
}
.tagline .gradientText {
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1350px) {
  .tagline {
    width: 100%;
    font-size: 60px;
  }
  .tagline br {
    display: none;
  }
}
@media (max-width: 900px) {
  .tagline {
    font-size: 32px;
    letter-spacing: 0px;
  }
}
