.planeWrap {
  width: 100%;

  position: relative;
  overflow: hidden;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.plane {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  top: 40%;
  animation: planePass 7s infinite linear;
  width: 100%;
}
.suitcaseWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.suitcase {
  width: 7000px;
  animation: suitcaseLoop 20s infinite linear;
}

@keyframes planePass {
  0% {
    transform: translateX(-100%) translateY(-50%);
  }
  70% {
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(-50%);
  }
}
@keyframes suitcaseLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100%));
  }
}

@media (max-width: 900px) {
  .planeWrap {
    margin-bottom: 80px;
  }
  .background img {
    width: 900px;
    height: auto;
  }
  .foreground img {
    width: 900px;
    height: auto;
  }
  .plane {
    top: 40%;
  }
  .plane img {
    width: 450px;
    height: auto;
  }
  .suitcase {
    width: 700vw;
    height: auto;
  }
  .suitcase img {
    width: 4900px;
    height: auto;
    margin-bottom: -10px;
  }
}
