.Scooter {
  background: #f2f4f7;
}
.scooterWrap {
  display: flex;
  padding: 120px 0;
  height: 640px;
  align-items: center;
}
.col {
  width: 50%;
}
.description {
  max-width: 440px;
}
.sliderWrap {
  width: 640px;
  height: 640px;
  position: absolute;
  right: 0;
  top: 0;
}
.scooterImage {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1240px) {
  .col {
    width: 65%;
  }
  .col:last-of-type {
    width: 35%;
  }
  .scooterWrap {
    height: 400px;
  }
  .sliderWrap {
    width: 400px;
  }
  .sliderWrap .splide img {
    width: auto;
    height: 400px;
  }
  .scooterImage img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 900px) {
  .scooterWrap {
    flex-direction: column;
    height: auto;
  }
  .col {
    width: 100%;
  }
  .col:last-of-type {
    height: 360px;
  }
  .sliderWrap {
    transform: translateX(-50%);
    left: 50%;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .scooterImage {
    transform: translateX(-50%);
    left: 40%;
  }
}
