.HeaderWrap {
  position: relative;
}
.Header {
  mix-blend-mode: difference;
  background: transparent;
  width: 100%;
  height: 120px;
  z-index: 77777;
  position: fixed;
  top: 0;
  transition: all 0.3s;
}
.blend {
  mix-blend-mode: difference;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  mix-blend-mode: difference;
  background: transparent;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert();
}

.logo:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: black;
  transition: 0.3s;
}

.logo:hover:after {
  width: 100%;
}
.headerLink {
  color: white;
  font-size: 16px;
  letter-spacing: 1.92px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  mix-blend-mode: difference;
}
.mobileMenu {
  height: 50vh;
}
.headerLink:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: white;
  transition: 0.3s;
}
.headerLink:hover:after {
  width: 100%;
}

.leftNav a {
  margin-right: 40px;
}

.highlightWrap {
  width: 100%;
  max-width: 1400px;
  height: 120px;
  padding: 0 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 77778;
}
.highlight {
  color: black;
  /* position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); */
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
  position: ;
}

.fakeLink {
  width: 100px;
  height: 40px;
}
.rightNav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hamNav {
  width: 40px;
  height: 24px;
  display: none;
  filter: invert();
  position: relative;
}
.dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #202020;
  position: absolute;
  top: 8px;
  transition: 0.3s;
}
.center {
  left: 16px;
}
.leftDot,
.leftDotEx {
  left: 0;
}

.rightDot,
.rightDotEx {
  right: 0;
  animation: moveRight2 0.3s forwards;
}
.leftDot {
  animation: leftDotR 0.6s forwards;
}
.opened .leftDot {
  animation: leftDot 0.6s forwards;
}
.leftDotEx {
  animation: leftDotExR 0.6s forwards;
}
.opened .leftDotEx {
  animation: leftDotEx 0.6s forwards;
}
.rightDot {
  animation: rightDotR 0.6s forwards;
}
.opened .rightDot {
  animation: rightDot 0.6s forwards;
}
.rightDotEx {
  animation: rightDotExR 0.6s forwards;
}
.opened .rightDotEx {
  animation: rightDotEx 0.6s forwards;
}
@keyframes leftDot {
  0% {
    left: 0;
    top: 8px;
  }
  50% {
    left: 8px;
    top: 8px;
  }
  100% {
    left: 8px;
    top: 0;
  }
}
@keyframes leftDotR {
  0% {
    left: 8px;
    top: 0;
  }
  50% {
    left: 8px;
    top: 8px;
  }
  100% {
    left: 0;
    top: 8px;
  }
}
@keyframes leftDotEx {
  0% {
    left: 0;
    top: 8px;
  }
  50% {
    left: 8px;
    top: 8px;
  }
  100% {
    left: 8px;
    top: 16px;
  }
}
@keyframes leftDotExR {
  0% {
    left: 8px;
    top: 16px;
  }
  50% {
    left: 8px;
    top: 8px;
  }
  100% {
    left: 0;
    top: 8px;
  }
}
@keyframes rightDot {
  0% {
    right: 0;
    top: 8px;
  }
  50% {
    right: 8px;
    top: 8px;
  }
  100% {
    right: 8px;
    top: 0;
  }
}
@keyframes rightDotR {
  0% {
    right: 8px;
    top: 0;
  }
  50% {
    right: 8px;
    top: 8px;
  }
  100% {
    right: 0;
    top: 8px;
  }
}
@keyframes rightDotEx {
  0% {
    right: 0;
    top: 8px;
  }
  50% {
    right: 8px;
    top: 8px;
  }
  100% {
    right: 8px;
    top: 16px;
  }
}
@keyframes rightDotExR {
  0% {
    right: 8px;
    top: 16px;
  }
  50% {
    right: 8px;
    top: 8px;
  }
  100% {
    right: 0;
    top: 8px;
  }
}
@media (max-width: 900px) {
  .Header {
    height: 80px;
  }
  .leftNav,
  .rightNav {
    display: none;
  }
  .hamNav {
    display: block;
  }
  .wrapper {
    justify-content: flex-end;
  }
}
