.Header {
  background: transparent;
  width: 100%;
  height: 80px;
  z-index: 77777;
  position: fixed;
  top: 0;
  mix-blend-mode: normal;
  transition: all 0.3s;
  mix-blend-mode: difference;
}
.blend {
  mix-blend-mode: difference;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: white;
  transition: 0.3s;
}

.logo:hover:after {
  width: 100%;
}
.headerLink {
  color: white;
  font-size: 16px;
  letter-spacing: 1.92px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.headerLink:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: white;
  transition: 0.3s;
}
.headerLink:hover:after {
  width: 100%;
}

.leftNav a {
  margin-right: 40px;
}
.rightNav a {
  margin-left: 40px;
}
.hamNav {
  display: none;
  filter: invert();
}

@media (max-width: 900px) {
  .leftNav,
  .rightNav {
    display: none;
  }
  .hamNav {
    display: block;
  }
  .wrapper {
    justify-content: flex-end;
  }
}
