.Outro {
  width: 100%;
  background: #d9d9d9;
  position: relative;
  z-index: 3;
}
.wrapper {
  display: flex;
  padding: 80px 0;
}
.video {
  width: 520px;
  margin-right: 80px;
}
.next {
  margin-bottom: 40px;
  font-size: 16px;
  color: #202020;
  font-family: MatterBold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.name {
  margin-bottom: 40px;
  font-size: 48px;
  font-family: MatterBold;
}
.slogan {
  font-size: 48px;
  line-height: 1.1;
  font-family: MatterLight;
  color: #202020;
  max-width: 760px;

  white-space: pre-wrap;
}
.arrowLink {
  display: inline-block;
}
.arrow {
  margin-top: 80px;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
