.hero {
  padding: 160px 0 80px 0;
  height: 100vh;
  position: relative;
  z-index: 3;
  background: white;
}
.heroVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - 80px);
}
.projectName {
  color: #2d2d2d;
  font-weight: 600;
  line-height: 1.2;
  font-size: 28px;
  margin-bottom: 20px;
}
.slogan {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.1;
  color: #575757;
  max-width: 760px;
  margin-bottom: 80px;
  white-space: pre-wrap;
}
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 600px;
}

.serviceHead {
  margin-bottom: 40px;
  font-size: 16px;
  color: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.serviceLink {
  margin-right: 40px;
  margin-bottom: 20px;
  color: #858585;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: all 0.3s;
  transform: translateY(0);
  display: inline-block;
}
.serviceLink:first-of-type {
  margin-left: 0;
}
.serviceLink:first-letter {
  text-transform: uppercase;
}
.serviceLink:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: #2d2d2d;
  transition: 0.3s;
}
.serviceLink:hover {
  color: #2d2d2d;
}
.serviceLink:hover:after {
  width: 100%;
}

.arrow {
  margin-top: 80px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
.arrow:hover {
  background: black !important;
}
.missionSolution {
  padding: 120px 0;
  background-color: #f8f8f8;
  z-index: 3;
  position: relative;
}
.missionWrap {
  display: flex;
}
.content {
  max-width: 560px;
}
.content:first-of-type {
  margin-right: 120px;
}
.heading {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}
.description {
  line-height: 1.4;
  margin-bottom: 20px;
}
.description:first-of-type {
  font-weight: 600;
}
