.hero {
  padding: 200px 0 80px 0;
  position: relative;
  min-height: 830px;
  z-index: 3;
  background: white;
}
.heroVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 720px;
}
.projectName {
  color: #2d2d2d;
  line-height: 1.1;
  font-size: 48px;
  margin-bottom: 20px;
  font-family: MatterBold;
}
.slogan {
  font-size: 48px;
  line-height: 1.1;
  color: #202020;
  font-family: MatterLight;
  max-width: 760px;
  margin-bottom: 100px;
  white-space: pre-wrap;
}
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 600px;
}

.serviceHead {
  margin-bottom: 40px;
  font-size: 16px;
  color: #202020;
  font-family: MatterBold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.serviceLink {
  margin-right: 40px;
  margin-bottom: 20px;
  color: #616161;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: all 0.3s;
  transform: translateY(0);
  display: inline-block;
}
.serviceLink:first-of-type {
  margin-left: 0;
}
.serviceLink:first-letter {
  text-transform: uppercase;
}
.serviceLink:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: #2d2d2d;
  transition: 0.3s;
}
.serviceLink:hover {
  color: #2d2d2d;
}
.serviceLink:hover:after {
  width: 100%;
}

.arrow {
  margin-top: 80px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.missionSolution {
  padding: 120px 0;
  background-color: #f8f8f8;
  z-index: 3;
  position: relative;
}
.missionWrap {
  display: flex;
}
.content:last-of-type {
  margin-left: 120px;
}

.heading {
  color: #000;
  font-size: 48px;
  font-family: MatterLight;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}
.description {
  line-height: 1.4;
  margin-bottom: 20px;
  max-width: 520px;
}

@media (max-width: 1365px) {
  .heroVideo {
    width: 40vw;
    height: 40vw;
    bottom: 0;
  }
}
@media (max-width: 900px) {
  .hero {
    padding-top: 80px;
  }
  .heroVideo {
    width: 500px;
    height: 500px;
    position: static;
    margin: 0 auto 30px auto;
    display: block;
  }
  .projectName {
    font-size: 32px;
  }
  .slogan {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .services {
    justify-content: space-between;
  }
  .serviceLink {
    width: 50%;
    margin-bottom: 10px;
    margin-right: 0;
    line-height: 1.4;
  }
  .serviceLink:nth-of-type(even) {
    width: calc(50% - 20px);
    margin-left: 20px;
  }
  .arrow {
    display: none;
  }
  .heading {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .missionSolution {
    padding: 60px 0 80px 0;
  }
  .missionWrap {
    flex-direction: column;
  }
  .content:last-of-type {
    margin-left: 0;
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .hero {
    padding-top: 80px;
  }
  .heroVideo {
    width: 100%;
    height: 100vw;
    position: relative;
    margin: 0 auto 30px auto;
  }
}
