.ServiceModule {
  padding: 40px;
  background-color: transparent;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #202020;
  background: linear-gradient(#fff, #f8f8f8);
  position: relative;
  overflow: hidden;
}
.overlay {
  width: 0;
  height: 0;
  border-radius: 0;
  transition: all 0.8s;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at 0 0, #7000ff, #0ff);
}
.top {
  position: relative;
  z-index: 3;
}
.title {
  font-size: 48px;
  text-transform: capitalize;
  font-family: MatterBold;
  margin-bottom: 20px;
  color: #202020;
  transition: all 0.5s;
}
.description {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 20px;
}
.list {
  list-style: none;
}
.listItem {
  line-height: 1.7;
  font-size: 22px;
  font-family: MatterRegular;
  transition: 0.8s;
}
.link {
  color: #202020;
  letter-spacing: 0.8px;
  font-family: MatterBold;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.8s;
}
.icon {
  filter: invert();
  transition: 0.8s;
}
.open .overlay {
  width: 145%;
  height: 145%;
}
.open,
.open .title,
.open .link {
  color: white;
}
.open .icon {
  filter: none;
}
.ServiceModule:hover .overlay {
  width: 145%;
  height: 145%;
}
.ServiceModule:hover,
.ServiceModule:hover .title,
.ServiceModule:hover .link {
  color: white;
}
.ServiceModule:hover .icon {
  filter: none;
}
@media (max-width: 900px) {
  .ServiceModule {
    padding: 30px;
  }
  .title {
    font-size: 38px;
  }
  .listItem {
    font-size: 20px;
  }
}
