.ServiceModule {
  padding: 40px;
  background-color: transparent;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border: 20px #f8f8f8 solid;
}
.title {
  font-size: 48px;
  text-transform: capitalize;
  font-family: MatterBold;
  margin-bottom: 20px;
  color: white;
}
.description {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 20px;
}
.list {
  list-style: none;
}
.listItem {
  line-height: 1.7;
  font-size: 22px;
  font-family: MatterRegular;
}
.link {
  color: #202020;
  letter-spacing: 0.8px;
  font-family: MatterBold;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .ServiceModule {
    border: 10px #f8f8f8 solid;
  }
  .title {
    font-size: 38px;
  }
  .listItem {
    font-size: 20px;
  }
}
