.Spinner {
  height: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: #202020;
  z-index: 11111;
  animation: fadeIn 1s forwards;
  overflow: hidden;
}
.spinnerSquare {
  animation: spinner 3s infinite ease-in-out;
  width: 50px;
  height: 50px;
  border: 1px solid #f8f8f8;
  position: relative;
}
.fill {
  width: 100%;
  background: #f8f8f8;
  height: 10px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: filler 3s infinite ease-in-out;
}
.fadeout {
  animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
  from {
    height: 100vh;
    pointer-events: all;
  }
  to {
    height: 0;
    pointer-events: none;
  }
}
@keyframes fadeIn {
  from {
    pointer-events: none;
    height: 0;
  }
  to {
    height: 100vh;
    pointer-events: all;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes filler {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
