.square {
  position: fixed;
  right: 10vw;
  top: 50%;
  transform: translate(0, -50%);
  width: 520px;
  height: 520px;
  transition: 0.7s;
}
.videoWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  transition: 0.3s;
}
.video {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 1350px) {
  .square {
    left: auto;
    right: 20px;
  }
}
@media (max-width: 1190px) {
  .square {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  /* .square {
    position: static;
    transform: translate(0, 0);
    display: inline-block;
  } */
  .square {
    width: 270px;
    height: 270px;
  }
}
