.square {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  filter: invert();
}
@media (max-width: 1190px) {
  .square {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  /* .square {
    position: static;
    transform: translate(0, 0);
    display: inline-block;
  } */
  .square {
    width: 270px;
    height: 270px;
  }
}
