.Flowers {
  position: relative;
  height: 960px;
}
.back {
  object-fit: cover;
  max-height: 617px;
  bottom: 0;
  top: auto !important;
}
.front {
  max-height: 212px;
  bottom: 0;
  top: auto !important;
  object-fit: cover;
}
.row {
  display: flex;
}
.col {
  width: 50%;
  position: relative;
}
.col p {
  max-width: 440px;
}
.col p:last-of-type {
  margin-top: 160px;
}
.col:first-of-type {
  padding-top: 120px;
}
.circles {
  width: 100%;
  height: 100%;
  position: relative;
}
.circles img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.flower {
  position: absolute;
  bottom: -100px;
  opacity: 0;
}

@media (max-width: 1600px) {
  .col:last-of-type {
    width: 50%;
  }
  .col:last-of-type img {
    width: 100%;
    height: auto;
  }
  .circles {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .Flowers {
    height: auto;
  }
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .col:last-of-type {
    min-height: 660px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col p:last-of-type {
    margin-top: 20px;
  }
  .back {
    max-height: 200px;
  }
  .front {
    max-height: 100px;
  }
  .col:last-of-type img {
    width: 80%;
    height: auto;
  }
  .circles {
    width: 80%;
    margin: 0 auto;
    position: absolute;
  }
}

@media (max-width: 485px) {
  .col:last-of-type {
    min-height: 120vw;
  }
}
