.Laptop {
  margin-top: 180px;
  overflow-x: hidden;
}
.textRow {
  display: flex;
  gap: 120px;
}
.textRow p {
  max-width: 440px;
}

.background {
  position: relative;
  height: 1000px;
  margin-top: 350px;
}
.laptopBg {
  object-fit: cover;
  z-index: 0;
}
.laptopImage {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: -200px;
  transform: translateX(-50%);
}
.video {
  position: absolute;
  left: 50%;
  top: -167px;
  transform: translateX(-50%);
  object-fit: cover;
  height: 466px;
  width: 100%;
  max-width: 760px;
  object-position: top center;
}

@media (max-width: 1600px) {
  .laptopImage {
    transform: translateX(-50%) scale(0.8);
  }
  .video {
    transform: translateX(-50%) scale(0.8);
    top: -73px;
  }
}

@media (max-width: 1250px) {
  .laptopImage {
    transform: translateX(-50%) scale(0.6);
  }
  .video {
    transform: translateX(-50%) scale(0.6);
    top: -73px;
  }
}

@media (max-width: 900px) {
  .Laptop {
    margin-top: 80px;
  }
  .textRow {
    flex-direction: column;
    gap: 20px;
  }
  .background {
    margin-top: 120px;
    height: auto;
  }
  .laptopBg {
    display: none;
  }
  .laptopImage {
    display: none;
  }
  .video {
    transform: translateX(0) scale(1);
    position: static;
    width: 100%;
    max-width: none;
    height: auto;
  }
}
