.Logo {
  position: relative;
  height: 1000px;
}
.name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.textBox {
  max-width: 480px;
}
.Logo .name + img {
  max-width: 1080px;
  width: 57vw;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
  opacity: 0;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 120px;
  margin-bottom: 280px;
}
.flex .imageWrap {
  width: 56%;
  max-width: 800px;
}
.subheading {
  margin-bottom: 40px;
  font-size: 16px;
  font-family: Matter-Bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.imageWrap img {
  width: 100%;
  height: auto;
  max-width: 800px;
  opacity: 0;
  transform: translateY(100px);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.logo {
  opacity: 0;
}
.subheading {
  margin-top: 120px;
}
.row {
  display: flex;
  gap: 200px;
}
.row p {
  max-width: 440px;
}
.waves {
  margin-top: 180px;
}
.rowImages {
  display: flex;
  gap: 80px;
}
.rowImages:last-of-type {
  align-items: flex-end;
  margin-top: -50px;
}
.rowImages img {
  opacity: 0;
}
