.Mobile {
  margin-top: 120px;
}
.imageWrap {
  display: flex;
  align-items: center;
  min-width: 820px;
}
.imageWrap img:nth-of-type(1) {
  z-index: 2;
}
.imageWrap img:nth-of-type(2) {
  margin: 0 -360px;
  z-index: 1;
}
.imageWrap img:nth-of-type(3) {
  z-index: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.row p {
  max-width: 440px;
}

@media (max-width: 1600px) {
  .imageWrap {
    max-width: 560px;
    min-width: 0;
  }
  .imageWrap img {
    width: 60%;
    height: auto;
  }
  .imageWrap img:nth-of-type(2) {
    max-width: 55%;
  }
  .imageWrap img:nth-of-type(3) {
    max-width: 50%;
  }
}
@media (max-width: 1200px) {
  .row p {
    max-width: 30%;
  }
}
@media (max-width: 900px) {
  .Mobile {
    overflow-x: hidden;
  }
  .row {
    flex-direction: column-reverse;
  }
  .row p {
    width: 100%;
    max-width: none;
  }
}
