.Banner {
  position: relative;
  height: 600px;
  margin-top: 450px;
}
.stripe {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #caddb4;
  width: 100%;
  height: 600px;
}
.splash {
  position: absolute;
  left: 100px;
  bottom: 0;
}
.bannerImage {
  position: absolute;
  right: 0;
  bottom: 0;
}
.text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper {
  width: 1360px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
