.Brand {
  padding: 120px 0 160px 0;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  width: 50%;
}
.category {
  font-size: 16px;
  color: #323232;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: MatterBold;
}
.col:last-of-type {
  text-align: right;
}
.description {
  margin-top: 40px;
  max-width: 440px;
}
