.DesignDev {
  padding-bottom: 200px;
}
.wrapper {
  max-width: 1035px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  width: 60%;
}
.col:last-of-type {
  text-align: left;
  width: 40%;
}
.col:last-of-type .category {
  margin-bottom: 30px;
}

.category {
  font-size: 16px;
  color: #323232;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: MatterBold;
}
.description {
  margin-bottom: 40px;
  text-align: left;
  max-width: 440px;
}
.video {
  width: 100%;
  border-radius: 25px;
}
