.Social {
  margin-bottom: 160px;
  position: relative;
}
.socialWrap {
  position: relative;
  height: 713px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobiles {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.phone {
  display: inline-block;
  margin-right: -360px;
}
.description {
  max-width: 440px;
  margin-bottom: 40px;
}
.stripe {
  position: absolute;
  height: 500px;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  background: #f0e6bd;
}
@media (max-width: 1240px) {
  .description {
    max-width: 400px;
  }
  .phone img {
    width: 210px;
    height: auto;
  }
  .phone:nth-of-type(2) img {
    width: 230px;
  }
  .Social {
    margin-bottom: 40px;
  }
}
@media (max-width: 900px) {
  .Social {
    margin-top: -8px;
  }
  .socialWrap {
    height: 100%;
    padding: 80px 0 160px 0;
  }
  .stripe {
    transform: translateY(0);
    height: 100%;
    top: 0;
  }
  .mobiles {
    transform: translateY(0);
    top: 80%;
  }
}
@media (max-width: 720px) {
  .mobiles {
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
  }
  .phone img {
    width: 100%;
  }
  .phone:nth-of-type(2) img {
    width: 100%;
  }
}
