.Brand {
  padding: 120px 0 100px 0;
  background-color: #fff;
}
.logoScheme {
  margin-left: -45px;
  width: 600px;
  margin-bottom: 200px;
}
.row {
  display: flex;

  justify-content: space-between;
  margin-bottom: 80px;
}
.col {
  width: 50%;
}
.col:last-of-type {
  margin-left: 60px;
}
.paragraphs {
  color: #202020;
  max-width: 400px;
  line-height: 1.4;
}
.paragraph {
  margin-bottom: 20px;
  font-size: 18px;
}
.fonts {
  margin-top: 120px;
}

@media (max-width: 1150px) {
  .col:last-of-type {
    margin-left: 120px;
  }
}
@media (max-width: 960px) {
  .logoScheme {
    max-width: 330px;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .col:last-of-type {
    margin-left: 80px;
  }
}

@media (max-width: 900px) {
  .Brand {
    padding: 60px 0 80px 0;
  }
  .row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .col {
    width: 100%;
  }
  .col:last-of-type {
    margin-left: 0;
    margin-top: 80px;
  }
  .logoScheme {
    margin-bottom: 80px;
  }
  .fonts {
    margin-top: 80px;
  }
  .fonts img {
    width: 100%;
  }
}
