.Brand {
  padding: 120px 0 100px 0;
  background-color: #fff;
}
.logoScheme {
  margin-left: -45px;
  width: 600px;
  margin-bottom: 200px;
}
.row {
  display: flex;

  justify-content: space-between;
  margin-bottom: 80px;
}
.col {
  width: 50%;
}
.col:last-of-type {
  margin-left: 60px;
}
.paragraphs {
  color: #202020;
  max-width: 400px;
  line-height: 1.4;
}
.paragraph {
  margin-bottom: 20px;
  font-size: 18px;
}
.fonts {
  margin-top: 120px;
}
