.Coffee {
  background: #fff;
  min-height: 800px;
  padding-top: 200px;
  padding-bottom: 140px;
}
.row {
  display: flex;
  align-items: center;
}
.merchImages {
  position: relative;
  width: 904px;
  height: 720px;
  margin-left: -136px;
}
.image {
  width: 100%;
  position: absolute;
}
.spill {
  bottom: 30%;
  width: 90%;
}
.coffeeContent {
  margin-left: 40px;
  margin-top: 40px;
  width: 560px;
}
.description {
  color: #202020;
  max-width: 440px;
  margin-bottom: 20px;
  font-size: 18px;
}
