/* Hide scrollbar for Chrome, Safari and Opera */
.ScrollSequence {
  width: 100%;
  background: #efefef;
}
.video {
  width: 100%;
}
@media (max-width: 900px) {
  .video {
    width: 150%;
    transform: translateX(-17%);
  }
}
