.Slider {
  background: #fff;
  position: relative;
  max-width: 1920px;
}

.stripe {
  width: 100%;
  background: #ececec;
  height: 500px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
@media (max-width: 1500px) {
  .shirt {
    width: 450px;
    height: auto;
  }
  .stripe {
    height: 300px;
  }
}
@media (max-width: 900px) {
  .shirt {
    max-width: 450px;
    width: 100%;
    height: auto;
  }
}
