.desktop {
  background: #fff;
  padding: 120px 0 300px 0;
  position: relative;
}
.wrapper {
  display: flex;
}
.description {
  color: #202020;
  max-width: 480px;
  margin-bottom: 40px;
}

.desktopMockupImage {
  position: absolute;
  right: -35%;
  top: 0;
  z-index: 11111;
  height: 1000px;
}
.col {
  width: 100%;
}
.wrapper {
  max-width: 1360px;
}
.desktopWrap {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 1500px;
  height: 2000px;
}
.desktopImage img {
  width: 100%;
}
.mobile {
  background: #ececec;
  display: flex;
  padding: 160px 0 120px 0;
  height: 570px;
}
.mobile .wrapper {
  width: 100%;
}
.mobile .description {
  max-width: 360px;
}
.mobileImage {
  position: absolute;
  top: -140%;
  left: 0;
}
.colImage {
  position: relative;
}
@media (max-width: 1530px) {
  .desktopMockupImage {
    height: 700px;
    right: -30%;
  }
  .desktopMockupImage img {
    object-fit: contain;
    height: 700px;
  }
}
@media (max-width: 1090px) {
  .desktopMockupImage {
    height: 600px;
  }
  .desktopMockupImage img {
    height: 600px;
  }
  .mobile {
    padding-bottom: 200px;
    height: auto;
  }
  .mobileImage {
    top: -300%;
  }
  .mobileImage img {
    width: 300px;
    object-fit: contain;
  }
}
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    width: 100%;
  }
  .desktopMockupImage {
    right: -20%;
    top: 17%;
  }
  .col {
    width: 100%;
  }
  .desktop .col:first-of-type {
    padding-bottom: 400px;
  }
  .mobile {
    height: 500px;
    padding: 240px 0 80px 0;
  }
  .colImage {
    top: -200%;
    transform: translateX(-50%);
    left: 50%;
  }
  .mobileImage img {
    width: 220px;
    height: 362px;
  }
  .mobile .col:last-of-type {
    margin-top: 80px;
  }
  .mobile .description {
    margin-bottom: 0;
    margin-right: 0;
    max-width: 500px;
    width: 100%;
  }
}
