.NewClients {
  padding-top: 160px;
}

.videoWrap {
  width: 1000px;
  height: 681px;
  position: relative;
  margin: 0 auto;
}
.video {
  width: 70%;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}
.description {
  max-width: 440px;
}
.description:first-of-type {
  margin-right: 80px;
}
.textWrap {
  margin-top: 120px;
  display: flex;
}
.mobiles {
  display: flex;
  margin-top: 160px;
}
.mobileImage {
  opacity: 0;
  transform: translateY(150px);
}
.mobileImage:nth-of-type(2) {
  margin: 0 -130px;
}
.mobileDescription {
  margin-top: -180px;
  padding: 280px 0 180px 0;
  background: #7b819b;
}
.mobileWrap .description {
  color: white;
}
.mobileWrap {
  display: flex;
}
