.NewClients {
  padding-top: 160px;
}
.videoWrap {
  width: 760px;
  margin: 0 auto;
}
.description {
  max-width: 560px;
}
.description:first-of-type {
  margin-right: 120px;
}
.textWrap {
  margin-top: 120px;
  display: flex;
}
.mobiles {
  display: flex;
}
.mobileImage:nth-of-type(2) {
  margin: 0 -130px;
}
.mobileDescription {
  margin-top: -180px;
  padding: 280px 0 180px 0;
  background: #7b819b;
}
.mobileWrap .description {
  color: white;
}
.mobileWrap {
  display: flex;
}
