.NewClients {
  padding-top: 160px;
}

.videoWrap {
  width: 1000px;
  height: 681px;
  position: relative;
  margin: 0 auto;
}
.video {
  width: 70%;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}
.description {
  max-width: 440px;
}
.description:first-of-type {
  margin-right: 80px;
}
.textWrap {
  margin-top: 120px;
  display: flex;
}
.mobiles {
  display: flex;
  margin-top: 160px;
}
.mobileImage {
  opacity: 0;
  transform: translateY(150px);
}
.mobileImage:nth-of-type(2) {
  margin: 0 -130px;
}
.mobileDescription {
  margin-top: -180px;
  padding: 280px 0 180px 0;
  background: #7b819b;
}
.mobileWrap .description {
  color: white;
}
.mobileWrap {
  display: flex;
}
@media (max-width: 1350px) {
  .mobiles {
    justify-content: center;
    margin-top: 80px;
  }
  .mobileImage {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 1050px) {
  .videoWrap {
    width: 700px;
    height: 477px;
  }
}
@media (max-width: 900px) {
  .title {
    max-width: 460px;
    margin: 0 auto 60px auto;
  }
  .laptopImage {
    display: none;
  }
  .videoWrap {
    width: 100%;
    height: 60vw;
  }
  .video {
    width: calc(100% + 40px);
  }
  .wrapper {
    max-width: none;
  }
  .textWrap {
    margin-top: 60px;
    flex-direction: column;
    max-width: 460px;
    margin: 20px auto 0 auto;
  }
  .description {
    margin-right: 0;
  }
  .description:first-of-type {
    margin-right: 0;
  }
  .mobiles {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .mobileImage {
    margin-top: 40px;
  }
  .mobileImage:nth-of-type(2) {
    margin: 0;
  }
  .mobileWrap {
    flex-direction: column;
  }
  .description {
    max-width: 460px;
  }
  .mobileDescription {
    padding-bottom: 80px;
  }
}
@media (max-width: 500px) {
  .mobiles {
    margin-top: 0;
  }
  .mobileImage {
    width: 300px;
  }
}
