.row {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
}
.image {
  display: block;
  opacity: 0;
  transform: translateY(150px);
}
.description {
  max-width: 440px;
}
.description:first-of-type {
  margin-right: 80px;
}
.textWrap {
  margin-top: 120px;
  display: flex;
}
