.row {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
}
.image {
  display: block;
}
.description {
  max-width: 560px;
}
.description:first-of-type {
  margin-right: 120px;
}
.textWrap {
  margin-top: 120px;
  display: flex;
}
