.Outro {
  display: flex;
  width: 100%;
  background: #202020;
}
.left {
  background: url("/images/northprim/outro-image.webp") no-repeat center;
  background-size: cover;
  width: 47%;
}
.right {
  width: 53%;
  padding: 90px 0 90px 120px;
}
.title {
  color: #f8f8f8;
  max-width: 600px;
  margin-bottom: 40px;
  font-size: 54px;
}
.description {
  max-width: 600px;
}
.links {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  border-top: 1px solid #f8f8f8;
  padding-top: 40px;
}
.outroLink {
  font-size: 20px;
  color: #202020;
  background: #ccff00;
  padding: 25px 42px;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.3s;
}
.outroLink:hover {
  background: #e8e8e8;
}
