.Parallax {
  height: 80vh;
  width: 100vw;
  background: url("/images/northprim/NP_Wave_Background.png") no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.wave {
  width: 100%;
  position: absolute;
  bottom: -50%;
  left: -10%;
}
.star {
  position: absolute;
  top: 50px;
  right: 10%;
}
