.Contact {
  overflow: hidden;
  height: 120vh;
  position: relative;
  z-index: 1;
  background: black;
  color: white;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}
.wrapper {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  height: 100%;
}
.contactWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.tag {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: MatterBold;
  margin-bottom: 40px;
}
.title {
  font-family: MatterBold;
  font-size: 100px;
  margin-bottom: 40px;
  color: white;
  max-width: 800px;
  line-height: 1;
}
.linkWrapMobile {
  display: none;
}
@media (max-width: 900px) {
  .Contact {
    height: auto;
    padding-bottom: 240px;
    padding-top: 120px;
  }
  .contactWrap {
    width: 100%;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
  }
  .title {
    font-size: 54px;
    line-height: 1;
  }
  .subheading {
    font-size: 20px;
  }
  .linkWrap {
    display: none;
  }
  .linkWrapMobile {
    display: block;
    margin-top: 80px;
  }
}
