.Hero {
  padding-top: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#fff 75%, #f8f8f8 100%);
}
.wrapper {
  padding: 0 20px;
  width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.title {
  width: 100%;
  font-size: 80px;
  letter-spacing: -2.4px;
  font-family: MatterLight;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  overflow: hidden;
  max-width: 1000px;
}
.stamp {
  font-size: 120px;
  font-family: MatterBold;
  position: relative;
  z-index: 3;
  overflow: hidden;
  line-height: 0.4;
  letter-spacing: -4.8px;
  color: black;
}

@media (max-width: 900px) {
  .wrapper {
    justify-content: flex-start;
    padding-top: 160px;
  }
  .Hero {
    padding-bottom: 90px;
    height: auto;
  }
  .title {
    font-size: 50px;
    letter-spacing: -1.5px;
  }
  .stamp {
    font-size: 54px;
    line-height: 1;
    margin-bottom: -40px;
    letter-spacing: normal;
  }
}
