.More {
  overflow: hidden;
  height: 120vh;
  background: linear-gradient(#fff 75%, #f8f8f8 100%);
}
.wrapper {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  height: 100%;
}
.moreWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.tag {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 700;
  margin-bottom: 40px;
}
.title {
  font-weight: 700;
  font-size: 120px;
  letter-spacing: -4.8px;
  line-height: 0.4;
  margin-bottom: 10px;
}
.subheading {
  font-size: 28px;
  margin-bottom: 60px;
  max-width: 600px;
  line-height: 0.4;
}
.linkWrapMobile {
  display: none;
}
@media (max-width: 900px) {
  .More {
    height: 100vh;
    padding-bottom: 40px;
    padding-top: 120px;
  }
  .moreWrap {
    width: 100%;
    justify-content: flex-start;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
  }
  .title {
    font-size: 60px;
    line-height: 1;
    letter-spacing: normal;
  }
  .subheading {
    font-size: 22px;
    letter-spacing: normal;
  }
  .subheading:last-of-type {
    margin-bottom: -40px;
  }
  .linkWrap {
    display: none;
  }
  .linkWrapMobile {
    display: block;
    margin-top: 80px;
  }
}
