.OurServices {
  overflow: hidden;
  height: 100vh;
  position: relative;
  background: #202020;
  color: white;
}
.wrapper {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  height: 100%;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.5;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.ourServicesWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.statement {
  font-size: 80px;
  font-weight: 700;
  max-width: 786px;
  line-height: 1.05;
  letter-spacing: -3.2px;
  color: white;
}
.linkWrapMobile {
  display: none;
}
@media (max-width: 900px) {
  .OurServices {
    padding-bottom: 40px;
    padding-top: 120px;
  }
  .wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;
  }
  .ourServicesWrap {
    justify-content: flex-start;
  }
  .statement {
    font-size: 30px;
    margin-bottom: 90px;
    letter-spacing: normal;
  }
  .linkWrap {
    display: none;
  }
  .linkWrapMobile {
    display: block;
    margin-top: 40px;
  }
}
