.Philosophy {
  overflow: hidden;
  height: 100vh;
  background: white;
}
.philosophyWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}
.wrapper {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  height: 100%;
}
.tag {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: MatterBold;
  margin-bottom: 40px;
}
.statement {
  font-size: 80px;
  font-family: MatterBold;
  max-width: 1050px;
  line-height: 1.05;
  letter-spacing: -3.2px;
  position: relative;
  z-index: 111111;
}
.subheading {
  font-size: 28px;
  line-height: 1.2;
  max-width: 600px;
  margin-bottom: 80px;
}
.linkWrapMobile {
  display: none;
}
@media (max-width: 900px) {
  .Philosophy {
    padding-bottom: 40px;
  }
  .wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
  }
  .philosophyWrap {
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
  .statement {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: normal;
  }
  .subheading {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .linkWrap {
    display: none;
  }
  .linkWrapMobile {
    display: block;
    margin-top: 80px;
  }
}
