.Services {
  background: linear-gradient(#fff, #f8f8f8);
}
.tag {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 700;
  margin-bottom: 40px;
}
.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 0.95;
}
.title span {
  font-weight: 300;
}
.feature {
  font-size: 24px;
  letter-spacing: 0.48px;
  font-weight: 300;
  color: #858585;
}

.serviceSquare {
  position: fixed;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 900px) {
  .title {
    font-size: 32px;
  }
  .feature {
    font-size: 18px;
  }
}
