.Banner {
  background: url("/images/zeder/texture_bg.webp") no-repeat center;
  background-size: cover;
  margin-top: 160px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 785px;
}
