.Service {
  padding: 160px 0 280px 0;
}
.title {
  font-size: 100px;
  line-height: 1;
  margin-bottom: 20px;
  font-family: MatterBold;
  width: 1380px;
}
.subheading {
  font-size: 28px;
  font-family: Matterregular;
  margin-bottom: 80px;
  max-width: 560px;
}

.wrapper {
  max-width: 1360px;
  position: static;
  margin: 0 auto;
  padding: 0 20px;
}
.projectGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.lastitem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 60px;
}
.lastitem .projectName {
  color: #202020;
}
.lastitem .subheading {
  margin-top: 20px;
}
