.buildings {
  height: 100%;
  width: 100%;
}

.conclusion {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conclusion h2 {
  margin-bottom: 40px;
  font-size: 78px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.conclusion p {
  margin-bottom: 180px;
  font-size: 36px;
  font-weight: lighter;
  color: #575757;
  width: 720px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.buildingGradientWrapper {
  display: grid;
  grid-template-areas: "overlay";
  width: 100%;
  height: 60vh;
  align-items: end;
}

.buildingGradientWrapper > span {
  grid-area: overlay;
}

.buildingGradientWrapper > div {
  grid-area: overlay;
}

.buildingGradient {
  width: 100vw;
  height: 130px;
  background: linear-gradient(rgba(0, 0, 0, 0), #202020);
  z-index: 2;
}

.underBuildings {
  height: 430px;
  width: 100vw;
  background-color: #202020;
  align-items: center;
  display: flex;
  justify-content: center;
}

.underBuildings p {
  margin-bottom: 0;
  color: white;
}

@media (max-width: 767px) {
  .conclusion h2 {
    margin-bottom: 40px;
    font-size: 62px;
  }

  .conclusion p {
    margin-bottom: 80px;
    font-size: 18px;
    width: 100%;
  }

  .buildingGradientWrapper {
    height: auto;
  }

  .underBuildings {
    height: 260px;
  }
  .underBuildings p {
    width: 80%;
    margin-bottom: 0px;
  }
}

@media (max-width: 425px) {
  .conclusion h2 {
    font-size: 40px;
  }
  .conclusion p {
    margin-bottom: 100px;
  }

  .underBuildings p {
    margin-bottom: 0px;
  }

  .buildingGradient {
    height: 50px;
  }

  .buildingGradientWrapper {
    overflow: hidden;
  }

  .buildingpng {
    height: 300px !important;
    width: auto !important;
    transform: translateX(-55%);
  }
}
