.heroDescription {
  display: flex;
  justify-content: center;
  margin-bottom: 220px;
  width: 100vw;
  height: 100vh;
}

.tagline {
  position: fixed;
  top: 35%;
  font-size: 100px;
  font-weight: 700;
  line-height: 0.95;
  letter-spacing: -3.2px;
  background: radial-gradient(#7000ff 40%, #0ff);
  background-attachment: fixed;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  width: 800px;
  text-align: center;
  z-index: 0;
}
.tagline .gradientText {
  -webkit-text-fill-color: transparent;
}

.heroImage {
  width: 100vw;
  height: 100vh;
  z-index: 4;
  position: sticky;
  object-fit: cover;
  top: 0px;
}

.heroImageContainer {
  height: 250vh;
}

.heroGridContainer {
  position: absolute;
  width: 100%;
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 5;
  position: sticky;
  height: 100vh;
  width: 100%;
}

.heroGridItem {
  border-top: 10px solid rgb(0, 0, 0);
  border-right: 10px solid rgb(0, 0, 0);
}
@media (max-width: 1250px) {
  .tagline {
    font-size: 80px;
    width: 620px;
  }
}

@media (max-width: 767px) {
  .tagline {
    font-size: 62px;
    width: 450px;
  }
}

@media (max-width: 425px) {
  .tagline {
    font-size: 48px;
    width: 330px;
  }
}
