.heroDescription {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 200vh;
}
.heroDescription:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  background: linear-gradient(#00000000 50%, #fff 100%);
}

.tagline {
  position: fixed;
  top: 35%;
  font-size: 100px;
  font-weight: 700;
  line-height: 0.95;
  letter-spacing: -3.2px;
  background: radial-gradient(#7000ff 40%, #0ff);
  background-attachment: fixed;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  width: 800px;
  text-align: center;
  z-index: 0;
}
.tagline .gradientText {
  -webkit-text-fill-color: transparent;
}

.heroImage {
  width: 100vw;
  height: 100vh;
  z-index: 4;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.heroImageContainer {
  height: 250vh;
}

.heroGridContainer {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.heroGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 5;
  position: sticky;
  height: 100vh;
  width: 100%;
}
.heroImage {
  transform: scale(1.1);
}
.heroGridItem {
  box-shadow: inset 0 0 0 200px rgb(255, 255, 255);
}
@media (max-width: 1400px) {
  .heroGrid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 1250px) {
  .tagline {
    font-size: 80px;
    width: 620px;
  }
  .heroGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .heroGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  .tagline {
    font-size: 62px;
    width: 450px;
  }
}

@media (max-width: 425px) {
  .tagline {
    font-size: 48px;
    width: 330px;
  }
  .heroGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
