.membersCards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 1400px;
  padding-top: 100px;
  height: auto;
  position: relative;
}

.sliderGradient {
  position: absolute;
  height: 800px;
  width: 100%;
  z-index: 0;
  top: 0;
  pointer-events: none;
}

.singleCard {
  background: linear-gradient(#f8f8f8 40%, #e0e0e0 10%, #f8f8f8 20%);
  padding: 25px 25px 0px 25px;
  width: 400px;
}

.employeeImage {
  width: 100%;
  height: auto;
}

.textContainer {
  padding: 25px 30px 30px 30px;
}

.name {
  font-size: 32px;
  font-weight: bold;
}

.title {
  font-size: 24px;
  font-weight: 200;
  color: #575757;
}

.conclusion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conclusion h3 {
  margin-top: 250px;
  font-size: 78px;
  font-weight: bold;
}

.conclusion p {
  font-size: 36px;
  font-weight: lighter;
  width: 820px;
  text-align: center;
  margin-bottom: 220px;
}

.arrowPrev {
  transform: rotate(180deg);
}

.splide__arrows {
  position: relative;
  display: flex;
  column-gap: 80px;
  justify-content: center;
  height: 150px;
  width: 100%;
}

.splide__arrows button {
  background: none;
  left: auto;
  right: auto;
  position: relative;
  z-index: 4;
  width: 40px;
  height: 40px;
}

.splide__arrows button img {
  pointer-events: none;
}

.betweenArrows {
  display: flex;
  align-self: center;
  font-size: 24px;
  color: #575757;
}

.mobileSlider {
  display: none;
}
@media (max-width: 1200px) {
  .slider {
    display: none;
  }

  .mobileSlider {
    display: block;
  }
  .singleCard {
    width: 50vw;
  }
}

@media (max-width: 767px) {
  .cardSection {
    width: 100%;
    padding-bottom: 100px;
  }

  .singleCard {
    width: 45%;
  }

  .name {
    font-size: 24px;
  }

  .title {
    font-size: 20px;
  }

  .conclusion h3 {
    font-size: 40px;
  }

  .conclusion p {
    font-size: 18px;
    width: 100%;
    text-align: start;
    margin-bottom: 100px;
  }

  .conclusion {
    padding-left: 20px;
    padding-right: 20px;
  }

  .singleCard {
    width: 90vw;
  }
}
