.studioExplanation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.credo {
  display: flex;
  flex-direction: column;
  padding-bottom: 240px;
}

.credo h1 {
  font-weight: bold;
  font-size: 198px;
}

.ourCredo {
  letter-spacing: 9px;
}

.honesty {
  letter-spacing: -50px;
  opacity: 0;
  text-align: center;
}

.perfection {
  letter-spacing: -50px;
  opacity: 0;
  text-align: left;
}

.dedication {
  letter-spacing: -50px;
  opacity: 0;
  text-align: right;
}

.teamwork {
  letter-spacing: -50px;
  opacity: 0;
  text-align: center;
}

.credo .ourCredo {
  background: radial-gradient(at 10% top, #7000ff 10%, #0ff);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.noshow {
  background-clip: unset;
  -webkit-background-clip: unset;
  background: white;
}

.honesty,
.perfection,
.dedication,
.teamwork {
  background: linear-gradient(#7000ff, #0ff);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: white;
}

.honestyWrapper {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1500px) {
  .credo h1 {
    font-size: 150px;
  }
}

@media (max-width: 767px) {
  .credo h1 {
    font-size: 55px;
  }
}

@media (max-width: 425px) {
  .credo {
    padding-bottom: 100px;
    align-items: center;
  }

  .ourCredo {
    letter-spacing: 2px;
  }
}
