.studioExplanation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.credo {
  display: flex;
  flex-direction: column;
  padding-bottom: 240px;
}

.credo h1 {
  font-weight: bold;
  font-size: 198px;
}

.ourCredo,
.honesty,
.perfection,
.dedication,
.teamwork {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.credo .ourCredo {
  background: radial-gradient(at 10% top, #7000ff 10%, #0ff);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.noshow {
  background-clip: unset;
  -webkit-background-clip: unset;
  background: white;
}

.honesty,
.perfection,
.dedication,
.teamwork {
  background: linear-gradient(#7000ff, #0ff);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: white;
}
