.logoWrap {
  padding: 240px 0 180px 0;
  display: flex;
}
.logo {
  width: 70%;
  opacity: 0;
  transform: translateY(150px);
}
.content {
  width: 30%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 16px;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 40px;
  font-family: MatterBold;
}
.description {
  line-height: 1.5;
  font-size: 16px;
}
