.rollFlex {
  display: flex;
  padding: 0 0 160px 0;
}
.rollingWrap {
  position: relative;
  height: 200px;
  width: 200px;
  transform: translateX(-300px);
}
.rollWrap {
  display: flex;
  align-items: flex-end;
  width: 66%;
}
.shadow {
  position: absolute;
  bottom: -25px;
  width: 100%;
}
.can {
  position: absolute;
  bottom: -4px;
}
.mid {
  margin-bottom: -70px;
}
.large {
  margin-bottom: -70px;
  margin-left: -180px;
}

.content {
  width: 33%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 16px;
  text-transform: uppercase;
  color: #002856;
  line-height: 0.9;
  letter-spacing: 1.28px;
  margin-bottom: 60px;
}
.description {
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 1360px) {
  .rollingWrap {
    display: none;
  }
}
@media (max-width: 900px) {
  .rollFlex {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
    padding-left: 0;
  }
  .rollWrap {
    width: 100%;
    margin-top: 80px;
    margin-left: -20%;
  }
}
@media (max-width: 500px) {
  .rollWrap {
    margin-left: -15%;
  }
  .large img {
    width: 400px;
    height: auto;
  }
  .mid img {
    width: 300px;
    height: auto;
  }
}
