.schemeWrap {
  padding-bottom: 180px;
  display: flex;
}
.scheme {
  width: 50%;
}
.video {
  width: 700px;
}
.content {
  width: 33%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 16px;
  text-transform: uppercase;
  color: #002856;
  line-height: 0.9;
  letter-spacing: 1.28px;
  margin-bottom: 60px;
}
.description {
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 900px) {
  .schemeWrap {
    flex-direction: column-reverse;
    padding-bottom: 80px;
  }
  .scheme {
    width: 100%;
  }
  .content {
    width: 100%;
    padding-left: 0;
    margin-bottom: 80px;
    padding: 0 20px;
  }
  .video {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .video {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}
