.Video {
  background: white;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.video {
  padding: 0 20px;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

@media (max-width: 900px) {
  .wrapper {
    width: 100%;
    padding: 0;
    max-width: none;
  }
  .video {
    padding: 0;
  }
  .Video {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    width: 100%;
    padding: 0;
    max-width: none;
  }
  .video {
    width: 150%;
  }
}
