.Web {
  padding: 80px 0;
  background: #fff5d0;
  margin-top: 140px;
}
.row {
  display: flex;
  gap: 80px;
}
.col {
  width: calc(100% / 3);
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}
.col h2 {
  margin-bottom: 0;
}
.col img {
  width: 100%;
  height: auto;
}
.mobile {
  position: relative;
  min-height: 890px;
  background: transparent;
}
.mobile img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mobile video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 58px;
  box-shadow: 0 20px 30px 5px #07000099;
}
@media (max-width: 1200px) {
  .row {
    gap: 40px;
  }
  .row h2 br {
    dispaly: none;
  }
}
@media (max-width: 900px) {
  .Web {
    margin-bottom: 80px;
    padding: 60px 0;
    margin-top: 80px;
  }
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .mobile {
    min-height: 670px;
    max-width: 320px;
    width: 100%;
  }
  .mobile video {
    box-shadow: 0 15px 19px 3px #07000099;
  }
  .col:nth-of-type(2) {
    align-items: center;
  }
}
