.About {
  padding: 0;
}
.stickyWrap {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}
.stickyWrap section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(100px);
  opacity: 0;
}
.stickyWrap section.first {
  opacity: 1;
  transform: translateY(0);
}
.statement {
  position: absolute;
  top: 25%;
  font-size: 120px;
  transform: translateY(-50%);
  font-weight: 700;
  letter-spacing: -4.8px;
  background: radial-gradient(circle at 0 0, #7000ff, #0ff);
  background-attachment: sticky;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  width: 1350px;
  line-height: 1;
}
.statement .gradientText {
  -webkit-text-fill-color: transparent;
}
.lineThrough {
  position: relative;
}
.lineThrough:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/images/stroke.svg") no-repeat 0 10px;
  background-size: 99% 100%;
}
@media (max-width: 1350px) {
  .statement {
    width: 100%;
  }
}
@media (max-width: 985px) {
  .statement {
    font-size: 60px;
    letter-spacing: normal;
    margin-bottom: 40px;
  }
  .about {
    padding: 120px 0 120px 0;
  }
}
@media (max-width: 400px) {
  .statement {
    font-size: 14vw;
  }
}
