.Blog {
  background: linear-gradient(#fff 0, #f8f8f8 40%);
  padding: 180px 20px 120px 20px;
}
.wrapper {
  max-width: 1360px;
  position: relative;
  margin: 0 auto;
}
.featuredImage {
  position: absolute;
  top: 110px;
  right: 0;
  width: 620px;
  height: 620px;
  object-fit: cover;
}

.date {
  display: block;
  font-family: "MatterBold";
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.title {
  font-size: 48px;
  max-width: 720px;
  font-family: MatterBold, sans-serif;
  line-height: 1.1;
  margin-bottom: 40px;
}
.excerpt {
  font-size: 28px;
  font-family: "MatterRegular";
  max-width: 720px;
}
.content {
  margin-top: 40px;
}
.content p,
.content h2 {
  max-width: 720px;
}
.content a {
  text-decoration: underline;
}
.content h2 {
  font-family: MatterBold, sans-serif;
  font-size: 36px;
  margin-bottom: 40px;
  margin-top: 80px;
}
.content p {
  font-size: 18px;
  margin-bottom: 40px;
}
.content img {
  margin: 60px 40px;
  margin-left: 0;
  object-fit: cover;
}
.content video {
  margin: 40px 0;
  max-width: 720px;
}
.liveProject {
  margin-top: 80px;
}
@media (max-width: 1400px) {
  .featuredImage {
    position: static;
    margin-bottom: 80px;
  }
}
@media (max-width: 900px) {
  .content img {
    margin-bottom: 0;
    width: 100%;
  }
  .content video {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .featuredImage {
    width: 90vw;
    height: 90vw;
  }
}
