.Contact {
  padding: 160px 0 120px 0;
}
.title {
  font-size: 120px;
  font-family: MatterBold;
  margin-bottom: 120px;
  letter-spacing: -4.8px;
  width: 1375px;
}
.titleLink {
  font-size: 80px;
  font-family: MatterBold;
  margin-bottom: 20px;
  display: inline-block;
  letter-spacing: -3.2px;
  line-height: 1;
}
.preheading {
  font-size: 28px;
  font-family: MatterRegular;
  line-height: 1.2;
  margin-bottom: 10px;
}

.subheading {
  font-size: 80px;
  font-family: MatterBold;
  margin-bottom: 120px;
  letter-spacing: -3.2px;
  background: radial-gradient(circle at 0 0, #7000ff, #0ff);
  background-attachment: fixed;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
}
.subheading .gradientText {
  -webkit-text-fill-color: transparent;
}
.col:first-of-type .titleLink:first-of-type {
  margin-bottom: 80px;
}
.row {
  display: flex;
  width: 1375px;
}

@media (max-width: 1440px) {
  .title {
    font-size: 8.3vw;
    width: auto;
  }
  .col .titleLink {
    font-size: 54px;
    letter-spacing: normal;
  }
}
@media (max-width: 985px) {
  .Contact {
    padding: 120px 0 80px 0;
  }
  .title {
    font-size: 54px;
    letter-spacing: normal;
    width: auto;
    margin-bottom: 40px;
    line-height: 1;
  }
  .subheading {
    font-size: 30px;
    letter-spacing: normal;
    margin-bottom: 40px;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .col:last-of-type {
    margin-left: 0;
    margin-top: 40px;
  }
  .preheading {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .col .titleLink {
    font-size: 30px;
  }
}
