@font-face {
  font-family: MatterBold;
  src: url("../public/fonts/Matter-Bold.otf");
}
@font-face {
  font-family: MatterLight;
  src: url("../public/fonts/Matter-Light.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #202020;
}

a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 28px;
  margin-bottom: 80px;
  line-height: 1.2;
  font-weight: 600;
}
.listItemImage span {
  width: 100%;
  height: 100%;
}
.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.northprim-color {
  color: #ccff00;
}
.ownnew-color {
  color: #f5ad52;
}
.inspect-code {
  color: #000;
  font-size: 16px;
  font-family: "Lucida Grande";
  line-height: 25.6px;
}
.inspect-code span {
  color: #ed9223;
}
h2 {
  color: #202020;
}
#cursor-id:before {
  background: transparent;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  border-radius: 0;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.3s;
}
#cursor-id {
  mix-blend-mode: difference;
}
#cursor-id.-color-white:before {
  width: 50px;
  height: 50px;
  background: white;
}
.splide__slide img {
  width: 100%;
}
ul.splide__pagination li {
  margin: 20px 7px;
}
ul.splide__pagination li button {
  background: white;
  width: 7px;
  height: 7px;
}
ul.splide__pagination li .is-active {
  background: black;
  transform: scale(1);
}
.word {
  transform: translateY(50%);
  display: inline-block;
}
#outroSlider ul.splide__list li {
  background-color: #d9d9d9;
}

#gradient-canvas {
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #449ce4;
  --gradient-color-2: #2f8bc1;
  --gradient-color-3: #ccbeee;
  --gradient-color-4: #000000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translateUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
