@font-face {
  font-family: MatterBold;
  src: url("../public/fonts/Matter-Bold.otf");
}
@font-face {
  font-family: MatterLight;
  src: url("../public/fonts/Matter-Light.otf");
}
@font-face {
  font-family: MatterRegular;
  src: url("../public/fonts/Matter-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: MatterRegular, sans-serif;
  background-color: #fff;
  color: #202020;
}
body {
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 48px;
  margin-bottom: 80px;
  line-height: 1.2;
  font-family: MatterLight;
  color: #202020;
}
p {
  line-height: 1.4;
}
.listItemImage span {
  width: 100%;
  height: 100%;
}
.wrapper {
  max-width: 1360px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.readMore {
  font-size: 16px;
  font-family: MatterBold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.icon {
  transition: 0.3s;
  margin-left: 20px;
}
.readMore:hover .icon {
  transform: translateX(10px);
}

.inspect-code {
  color: #000;
  font-size: 16px;
  font-family: "Lucida Grande";
  line-height: 25.6px;
}
.inspect-code span {
  color: #ed9223;
}
i {
  -webkit-text-fill-color: transparent;
  font-style: normal;
}
.resultText {
  transform: translateY(150px);
  opacity: 0;
}
#cursor-id:before {
  background: transparent;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  border-radius: 0;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.3s;
}
#cursor-id {
  mix-blend-mode: difference;
}
#cursor-id.-color-white:before {
  width: 50px;
  height: 50px;
  background: white;
}
.splide__slide {
  text-align: center;
}
.loading {
  animation: heightIn 1s forwards;
}
.loaded {
  animation: fadeOut 1s forwards;
}
.mask {
  overflow: hidden;
  display: inline-block;
  line-height: 1;
}
.word,
.more {
  display: inline-block;
  position: relative;
  padding: 2px;
  transform: translateY(100%) skewX(-30px);
}

.more {
  padding: 2px;
}
/* .mask:nth-of-type(even) .word,
.mask:nth-of-type(even) .more {
  width: 20px;
} */
.video2 {
  transform: rotate(180deg);
}
.video4 {
  transform: rotate(180deg);
}
.video6 {
  transform: rotate(-180deg);
}
.video1,
.video2,
.video3,
.video4,
.video5,
.video6 {
  opacity: 0;
}

#step1 .video1 {
  opacity: 1;
}
#step2 .video2 {
  opacity: 1;
}
#step3 .video3 {
  opacity: 1;
}
#step4 .video4 {
  opacity: 1;
}
#step5 .video5 {
  opacity: 1;
}
#step6 .video6 {
  opacity: 1;
}

#step1 {
  background-color: rgb(119, 230, 255);
  right: 100px;
}
#step2 {
  background-color: transparent;
  /* width: 300px !important;
  height: 300px !important; */
  right: 10% !important;
  width: 400px;
  height: 400px;
  transform: translate(0, -50%) rotateZ(-180deg) !important;
}
#step3 {
  background-color: transparent;
  /* width: 300px !important;
  height: 300px !important; */
  right: 100px !important;
  transform: translate(0, -50%) rotateZ(0) !important;
}
#step4 {
  background-color: transparent;
  width: 400px;
  height: 400px;
  right: 100px;
  transform: translate(0, -50%) rotateZ(180deg);
}
#step5 {
  right: 200px;
  transform: translate(0, -50%) rotateZ(0);
}

#step6 {
  opacity: 1;
  right: 100px;
  background-color: transparent;
  transform: translate(0, -50%) rotateZ(-180deg);
}

#outroSlider ul.splide__list li {
  background-color: #d9d9d9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heightIn {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translateUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 32px;
  }
  .wrapper {
    max-width: 500px;
  }
  #step1 {
    background-color: rgb(119, 230, 255);
    right: auto !important;
    left: 50%;
  }
  #step2 {
    background-color: transparent;
    /* width: 300px !important;
  height: 300px !important; */
    right: auto !important;
    left: 50%;
    width: 270px;
    height: 270px;
    transform: translate(-50%, -50%) rotateZ(-180deg) !important;
  }
  #step3 {
    background-color: transparent;
    /* width: 300px !important;
  height: 300px !important; */
    right: auto !important;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0) !important;
  }
  #step4 {
    background-color: transparent;
    width: 270px;
    height: 270px;
    right: auto !important;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(180deg);
  }
  #step5 {
    right: auto !important;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0);
  }

  #step6 {
    opacity: 1;
    right: auto !important;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%) rotateZ(-180deg);
  }
}
