.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1350px;
  margin: 0 auto;
}
.title {
  font-size: 8.27vw;
  margin: 100px 0 50px 0;
}
.subtitle {
  font-size: 32px;
  text-align: center;
}
.link {
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin: 0 0 0 20px;
  position: relative;
}
.link:first-of-type {
  margin: 0 20px 0 0;
}
.link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: black;
  transition: 0.3s;
}
.link:hover:after {
  width: 100%;
}
