.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.title {
  font-size: 56px;
  margin: 100px 0 50px 0;
}
@media (max-width: 1250px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
  }
}
